node_modules/
package-lock.json
database.sqlite
dist/
*.log
vendor/
composer.lock
/public/storage
/storage/*.key
/storage/app/public
/storage/framework/cache/data
/storage/logs
/storage/debugbar
phpunit.result.cache
coverage/
.DS_Store
Thumbs.db
*.bak
*.tmp
*.swp
